/* Global styles */
:root {
  font-family: 'Nunito', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Nunito', sans-serif;
}

/* hide ugly border */
svg[viewBox='0 0 100 100'][style*='border: 35px solid rgba(0, 0, 0, 0.2)'] {
  display: none;
}
